<%layout("/layouts/boilerplate.ejs")-%>

    <div class="row ">
        <div class="col-8 offset-1">
    
    <form method="post" action="/listings" novalidate class="needs-validation">
    <h2>Create a new listing</h2>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="newlisting[title]" type="text" class="form-control" placeholder="Enter Title" required/>
        <div class="invalid-feedback">Title required</div>
    </div>
    <div class="mb-3">
      <label for="textarea" class="form-label">Description</label>
        <textarea name="newlisting[description]" class="form-control" placeholder="Enter description" required></textarea>
    <div class="invalid-feedback">Description required</div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Paste Image Url</label>
        <input type="text" name="newlisting[image]" placeholder="PASTE/ ENTER URL" class="form-control"> 
    <div class="invalid-feedback">Image required</div>
    </div>
    
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input name="newlisting[price]" required type="text" placeholder="Enter price" class="form-control"/>
    <div class="invalid-feedback">Price required</div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="newlisting[location]" required type="text" placeholder="Enter location" class="form-control"/>
    <div class="invalid-feedback">Location required</div>
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
       <input name="newlisting[country]" required type="text" placeholder="Enter country" class="form-control"/> 
    <div class="invalid-feedback">Country required</div>
    </div>
       
   <div class="d-grid gap-2 mb-3">
  <button class="btn btn-primary" type="submit">Add to Listing</button>
</div>
    </form>
    </div>
</div>
